<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error" monitorInterval="30">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <ThresholdFilter level="debug" onMatch="NEUTRAL"
                             onMismatch="DENY"/>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}- [%t] %-5level %X{sessionId} %class{36} %L %M - %msg%xEx%n"/>
        </Console>


        <RollingFile name="debug_log"
                     fileName="${sys:catalina.base}/logs/cddgsl-debug.log" append="true"
                     filePattern="${sys:catalina.base}/logs/cddgsl-debug-%d{yyyy-MM-dd}.log">
            <Filters>
                <ThresholdFilter level="debug" onMatch="ACCEPT"
                                 onMismatch="NEUTRAL"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy
                        modulate="true" interval="1"/>
            </Policies>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}- [%t] %-5level %X{sessionId} %class{36} %L %M - %msg%xEx%n"/>
        </RollingFile>

        <RollingFile name="info_log"
                     fileName="${sys:catalina.base}/logs/cddgsl-info.log" append="true"
                     filePattern="${sys:catalina.base}/logs/cddgsl-info-%d{yyyy-MM-dd}.log">
            <Filters>
                <ThresholdFilter level="info" onMatch="ACCEPT"
                                 onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy
                        modulate="true" interval="1"/>
            </Policies>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}- [%t] %-5level %X{sessionId} %class{36} %L %M - %msg%xEx%n"/>
        </RollingFile>

        <RollingFile name="warn_log"
                     fileName="${sys:catalina.base}/logs/cddgsl-warn.log" append="true"
                     filePattern="${sys:catalina.base}/logs/cddgsl-warn-%d{yyyy-MM-dd}.log">
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT"
                                 onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy
                        modulate="true" interval="1"/>
            </Policies>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}- [%t] %-5level %X{sessionId} %class{36} %L %M - %msg%xEx%n"/>
        </RollingFile>

        <RollingFile name="error_log"
                     fileName="${sys:catalina.base}/logs/cddgsl-error.log" append="true"
                     filePattern="${sys:catalina.base}/logs/cddgsl-error-%d{yyyy-MM-dd}.log">
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT"
                                 onMismatch="DENY"/>
            </Filters>
            <Policies>
                <TimeBasedTriggeringPolicy
                        modulate="true" interval="1"/>
            </Policies>
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}- [%t] %-5level %X{sessionId} %class{36} %L %M - %msg%xEx%n"/>
        </RollingFile>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="Console"/>
            <!--<appender-ref ref="debug_log"/>-->
            <!--<appender-ref ref="info_log"/>-->
            <!--<appender-ref ref="warn_log"/>-->
            <!--<appender-ref ref="error_log"/>-->
        </root>


        <!--<logger name ="Rating" level="info" >-->
            <!--<appender-ref ref="RatingAsync"/>-->
        <!--</logger>-->

    </loggers>


</configuration>